
<div>{{newDate | date:"d/MMMM/yy"}}</div>
<div>{{title | titlecase}}</div>

<app-child 
*ngFor="let course of courses | slice:1:3; index as i; first as firstIndex; last as lastIndex;
 even as evenIndex; odd as oddIndex" 
[course]="course"
[courseIndex]="i+1"
[class.first-index]="firstIndex"
[class.last-index]="lastIndex"
[class.odd-index]="oddIndex"
[class.even-index]="evenIndex"
(eigeneFunktion)="onEigeneFunktion($event)"
>
<!--firstIndex statt TRUE (  [class.first-index]="true"   )-->
</app-child>

<router-outlet></router-outlet>