  
  .card {
    margin:0 auto;
    text-align: center;
    margin-bottom: 1em;
  }

  .card-container {
    
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    text-align: center;     
    padding: 16px;
    width: 520px;
    display: inline-block;    
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card-title {
      font-size: 2em;
      display: block;
  }

  .card-description {
    font-size: 1em;
    display: block;
}

  .card.card-small {
    height: 16px;
    width: 168px;
  }

 

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }
